body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  max-height: 30px;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  gap: 16px;
}
.addSpellForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
