.inputDiv {
  display: flex;
  flex-direction: row;
  max-height: 30px;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  gap: 16px;
}
.addSpellForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #282c34;
  padding: 16px;
}
.homeButton {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  cursor: pointer;
  color: white;
  font-size: large;
}
.spellCard {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  border-radius: 15px;
  background-color: cadetblue;
  padding: 16px;
  max-width: 1200px;
}
.spellList {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.spellInfo {
  cursor: pointer;
  padding: 8px;
}

.spellProperty {
  flex-direction: row;
  display: flex;
  gap: 16px;
}
.label {
  font-weight: bold;
  margin: 0;
}
.text {
  margin: 0;
}

.deleteButton {
  font-size: large;
  color: white;
  border-radius: 15px;
  background-color: crimson;
  border: none;
  padding: 8px;
  font-weight: bold;
}

.button {
  font-size: large;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 8px;
  font-weight: bold;
  color: black;
}

.input {
  border-radius: 8px;
  border: none;
}
